h1, h2 {
    text-align: center;
    font-size: 48px;
    font-family: cursive, sans-serif;
}

h2 {
    font-size: 32px;
}

body {
    width: 50em;
    margin: auto;
}

div {
    border: 3px solid gold;
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

#recipes {
    text-align: center;
    font-size: 24px;
    background-color: beige;
    border: 3px solid-flex;
    /*display: flex;*/
}

#recipes div {
    border: 0px;
    margin: 0px;
    box-shadow: none;
}

.photo,
.preview {
    width: auto;
    height: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.preview {
    width: auto;
    height: 10em;
    border-radius: 15px;
}

.description {
    font-size: 20px;
    background-color: gainsboro;
    font-family: 'Courier New', Courier, monospace;
}

.ingredients, .steps {
    font-size: 18px;
    background-color: honeydew;
}

.steps {
    background-color: ivory;
}

.buttons {
    text-align: center;
    font-weight: bold;
}

.grayed {
    color: rgb(126, 126, 126);
    font-weight: bold;
}