h1, h2 {
    text-align: center;
    font-size: 48px;
    font-family: cursive, sans-serif;
}

h2 {
    font-size: 32px;
}

div {
    border: 3px solid gold;
    border-radius: 15px;
    padding: 1em;
    margin: 25px;
}

#recipes {
    text-align: center;
    font-size: 24px;
    background-color: beige;
    border: 3px solid-flex;
    /*display: flex;*/
}

#recipes div {
    border: 0px;
    margin: 0px;
}

.photo,
.preview {
    width: auto;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.preview {
    width: auto;
    height: 100px;
}

.description {
    font-size: 20px;
    background-color: gainsboro;
    font-family: 'Courier New', Courier, monospace;
}

.ingredients, .steps {
    font-size: 18px;
    background-color: honeydew;
}

.steps {
    background-color: ivory;
}

.buttons {
    text-align: center;
    font-weight: bold;
}

.grayed {
    color: rgb(126, 126, 126);
    font-weight: bold;
}