h1, h2 {
    text-align: center;
    font-size: 48px;
    font-family: cursive, sans-serif;
}

h2 {
    font-size: 32px;
}

#recipes {
    text-align: center;
    font-size: 24px;
    list-style: square;
    background-color: beige;
}

.photo {
    width: auto;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-size: 20px;
    background-color: gainsboro;
    font-family: 'Courier New', Courier, monospace;
}

.ingredients, .steps {
    font-size: 18px;
    background-color: honeydew;
}

.steps {
    background-color: ivory;
}

.buttons {
    text-align: center;
    font-weight: bold;
}